* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: black;
}

.container {
    display: flex;
}

.box-left {
    width: 23%;
    height: 100vh;
    align-self: flex-start;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.box1 {
    color: rgba(245, 245, 245, 0.826);
    background-color: rgba(32, 30, 30, 0.69);
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    height: 15%;
}

.box1 p {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: medium;
    font-weight: 600;
}

.box2 {
    color: rgba(245, 245, 245, 0.826);
    background-color: rgba(32, 30, 30, 0.69);
    border-radius: 15px;
    margin: 10px;
    height: 80.5%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;

    gap: 10px;
}

.card1 {
    background-color: rgba(51, 51, 51, 0.536);
    border-radius: 15px;
    padding: 5px 20px;
    height: 28%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card1 p,
.card2 p {
    font-size: 14px;
}

.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.library .lib_icon p {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.library .lib_icon2 {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-right: 25px;
}

.card2 {
    background-color: rgba(51, 51, 51, 0.536);
    border-radius: 25px;
    padding: 5px 20px;
    height: 28%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box1 p , .library p
{
    opacity: 0.7;
    cursor: pointer;
}

.box1 p:hover , .library p:hover
{
    opacity: 1;
}

button {
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: 600;
    align-self: flex-start;
    border: none;
    cursor: pointer;
}

button:hover
{
    filter: invert(1);
}

/* ------------------------------------------------------------ */

.box-right {
    width: 77%;
    min-height: 100vh;

    background-color: rgba(32, 30, 30, 0.69);
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 190px;
}

.box-right .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 5px;
}

.box-right .navbar .nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}

.box-right .navbar .nav2 .exp_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.box-right .navbar .nav2 .install_btn {
    filter: invert(1);
    border: none;
    font-weight: 800;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

/* ----------------------------------------------- */

.recent h3 {
    margin-top: 40px;
    font-size: 21px;
}

.card {
    background-color: rgba(51, 51, 51, 0.536);
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
    height: 300px;
    width: 17%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover
{
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.738);
}

.card img {
    border-radius: 8px;
}

.trending h3 {
    margin-top: 30px;
    font-size: 21px;
}

.trend_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.trending .card 
{
    margin-top: 30px;
}

.featured h3
{
    margin-top: 30px;
    font-size: 21px;
}

.featured_cards 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.featured_cards .card 
{
    margin-top: 30px;
}

.free_space {
    min-height: 10%;
}

.box-right hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.549);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 60%;
}

.last_line
{
    display: flex;
    justify-content: center;
}

/* --------------------------------------------- */

.playbar {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playbar .player_icons 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.playbar .player_icons img
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.playbar .player_icons img:hover
{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.playbar .range_box
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.playbar .range_box .range
{
    cursor: pointer;
}

#volume
{
    width: 40%;
    min-width: 200px;
    accent-color: greenyellow;
}

/* ------------------------------------------------- */

#sidebar
{
    display: none;
}

.hamburger
{
    position: absolute;
    top: 0px;
    left: -100px;
}

.home
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close
{
    opacity: 0;
    margin-right: 10px;
    margin-top: 4px;
}

@media (max-width: 1100px)
{
    .hamburger
    {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }

    .box-left
    {
        position: fixed;
        top: 0px;
        left: -500px;
        width: 40%;
        height: 100vh;
        background-color: rgba(32, 30, 30, 0.95);
        transition: left 0.3s ease-in-out;
        z-index: 5;
    }

    .box-right
    {
        width: 100%;
        transition: filter 0.3s ease-in-out;
    }

    .close
    {
        opacity: 1;
    }

    #sidebar:checked ~ .hamburger
    {
        opacity: 0;
    }

    #sidebar:checked ~ .box-left
    {
        left: 0;
    }

    #sidebar:checked ~ .box-right
    {
        filter: blur(4px) brightness(0.6);
        transition: filter 0.3s ease-in-out;
    }

    .LR_Arrow
    {
        position: absolute;
        left: -100px;
    }
}

@media (max-width: 900px)
{
    .card 
    {
        width: 30%;
    }

    .box-left
    {
        width: 50%;
    }
}

@media (max-width: 640px)
{
    .box-left
    {
        width: 70%;
    }

    .card
    {
        width: 60%;
        height: 400px;
    }

    .recent , .trending , .featured
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trend_cards , .featured_cards
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 450px)
{
    .card
    {
        width: 80%;
    }

    .premium_btn
    {
        display: none;
    }

    .box-left
    {
        width: 80%;
    }

    .box-right
    {
        margin: 0px;
        padding: 0px;
    }
}
